.ipynb_checkpoints
*/.ipynb_checkpoints/*


projects/data/*
!projects/data/a.txt
!projects/data/survey_results_schema.csv
!projects/data/survey_results_public.csv
!projects/data/pheno.csv


projects/*
!projects/Pandas Demo.ipynb
!projects/Demo2.ipynb
!projects/Demo3.ipynb
!projects/Demo4.ipynb
!projects/Demo5.ipynb
!projects/Demo6.ipynb
!projects/pheno.ipynb

